# Introduction Ã  pandas

In [1]:
import pandas as pd

hpdata = {
    "firstname": ["Harry", "Hermione", "Ron", "Draco", "Luna", "Vincent", "Gregory", "Parvati"],
    "lastname":  ["Potter", "Granger", "Weasley", "Malfoy", "Lovegood", "Crabbe", "Goyle", "Patil"],
    "marks potion": [12, 18, 11, 11, 14, 8, 7, 13],
    "marks def. ATDA": [14, 18, 12, 12, 10, 6, 7, 14],
    "house": ["Gryffindor", "Gryffindor", "Gryffindor", "Slytherin", "Ravenclaw", "Slytherin", "Slytherin", "Ravenclaw"]
}

hpdf = pd.DataFrame(hpdata)
hpdf

  firstname  lastname  marks potion  marks def. ATDA       house
0     Harry    Potter            12               14  Gryffindor
1  Hermione   Granger            18               18  Gryffindor
2       Ron   Weasley            11               12  Gryffindor
3     Draco    Malfoy            11               12   Slytherin
4      Luna  Lovegood            14               10   Ravenclaw
5   Vincent    Crabbe             8                6   Slytherin
6   Gregory     Goyle             7                7   Slytherin
7   Parvati     Patil            13               14   Ravenclaw

In [2]:
print(hpdf.shape)
print(30*"*")
print(len(hpdf))
print(30*"*")
print(hpdf.columns)
print(30*"*")
print(hpdf.index)
print(30*"*")
hpdf.info()

(8, 5)
******************************
8
******************************
Index(['firstname', 'lastname', 'marks potion', 'marks def. ATDA', 'house'], dtype='object')
******************************
RangeIndex(start=0, stop=8, step=1)
******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   firstname        8 non-null      object
 1   lastname         8 non-null      object
 2   marks potion     8 non-null      int64
 3   marks def. ATDA  8 non-null      int64
 4   house            8 non-null      object
dtypes: int64(2), object(3)
memory usage: 448.0+ bytes

In [3]:
print(hpdf["house"])
print(30*"*")
print(hpdf.house)
print(30*"*")
hpdf[["firstname", "lastname", "house"]]

0    Gryffindor
1    Gryffindor
2    Gryffindor
3     Slytherin
4     Ravenclaw
5     Slytherin
6     Slytherin
7     Ravenclaw
Name: house, dtype: object
******************************
0    Gryffindor
1    Gryffindor
2    Gryffindor
3     Slytherin
4     Ravenclaw
5     Slytherin
6     Slytherin
7     Ravenclaw
Name: house, dtype: object
******************************

  firstname  lastname       house
0     Harry    Potter  Gryffindor
1  Hermione   Granger  Gryffindor
2       Ron   Weasley  Gryffindor
3     Draco    Malfoy   Slytherin
4      Luna  Lovegood   Ravenclaw
5   Vincent    Crabbe   Slytherin
6   Gregory     Goyle   Slytherin
7   Parvati     Patil   Ravenclaw

In [4]:
print(hpdf.loc[3])
print(30*"*")
print(hpdf.iloc[4])
print(30*"*")
print(hpdf.iloc[2:5])
print(30*"*")
print(hpdf.iloc[::-1])

firstname              Draco
lastname              Malfoy
marks potion              11
marks def. ATDA           12
house              Slytherin
Name: 3, dtype: object
******************************
firstname               Luna
lastname            Lovegood
marks potion              14
marks def. ATDA           10
house              Ravenclaw
Name: 4, dtype: object
******************************
  firstname  lastname  marks potion  marks def. ATDA       house
2       Ron   Weasley            11               12  Gryffindor
3     Draco    Malfoy            11               12   Slytherin
4      Luna  Lovegood            14               10   Ravenclaw
******************************
  firstname  lastname  marks potion  marks def. ATDA       house
7   Parvati     Patil            13               14   Ravenclaw
6   Gregory     Goyle             7                7   Slytherin
5   Vincent    Crabbe             8                6   Slytherin
4      Luna  Lovegood            14               10   Ravenclaw
3     Draco    Malfoy            11               12   Slytherin
2       Ron   Weasley            11               12  Gryffindor
1  Hermione   Granger            18               18  Gryffindor
0     Harry    Potter            12               14  Gryffindor

In [5]:
print(hpdf.head(3))
print(30*"*")
print(hpdf.tail(3))
print(30*"*")
print(hpdf.house.head(3))

  firstname lastname  marks potion  marks def. ATDA       house
0     Harry   Potter            12               14  Gryffindor
1  Hermione  Granger            18               18  Gryffindor
2       Ron  Weasley            11               12  Gryffindor
******************************
  firstname lastname  marks potion  marks def. ATDA      house
5   Vincent   Crabbe             8                6  Slytherin
6   Gregory    Goyle             7                7  Slytherin
7   Parvati    Patil            13               14  Ravenclaw
******************************
0    Gryffindor
1    Gryffindor
2    Gryffindor
Name: house, dtype: object

In [6]:
print(hpdf.loc[3,"lastname"])
print(30*"*")
print(hpdf.loc[2:5,"lastname"])
print(30*"*")
print(hpdf.loc[2:5,["firstname", "lastname"]])
print(30*"*")
print(hpdf.house[2])
print(30*"*")
print(hpdf.iloc[2:6,0:2])

Malfoy
******************************
2     Weasley
3      Malfoy
4    Lovegood
5      Crabbe
Name: lastname, dtype: object
******************************
  firstname  lastname
2       Ron   Weasley
3     Draco    Malfoy
4      Luna  Lovegood
5   Vincent    Crabbe
******************************
Gryffindor
******************************
  firstname  lastname
2       Ron   Weasley
3     Draco    Malfoy
4      Luna  Lovegood
5   Vincent    Crabbe

In [7]:
# iteration sur valeurs
s = ""
for x in hpdf["firstname"]:
    s += x+","
print(s)

Harry,Hermione,Ron,Draco,Luna,Vincent,Gregory,Parvati,

In [8]:
s=""
for x in hpdf:
    s += x+","
print(s)

firstname,lastname,marks potion,marks def. ATDA,house,

In [9]:
s=""
for x in hpdf.iloc:
    print(x)
#    s += x.lastname+","
#print(s)

firstname               Harry
lastname               Potter
marks potion               12
marks def. ATDA            14
house              Gryffindor
Name: 0, dtype: object
firstname            Hermione
lastname              Granger
marks potion               18
marks def. ATDA            18
house              Gryffindor
Name: 1, dtype: object
firstname                 Ron
lastname              Weasley
marks potion               11
marks def. ATDA            12
house              Gryffindor
Name: 2, dtype: object
firstname              Draco
lastname              Malfoy
marks potion              11
marks def. ATDA           12
house              Slytherin
Name: 3, dtype: object
firstname               Luna
lastname            Lovegood
marks potion              14
marks def. ATDA           10
house              Ravenclaw
Name: 4, dtype: object
firstname            Vincent
lastname              Crabbe
marks potion               8
marks def. ATDA            6
house              Slytherin
Name: 5, dtype: object
firstname            Gregory
lastname               Goyle
marks potion               7
marks def. ATDA            7
house              Slytherin
Name: 6, dtype: object
firstname            Parvati
lastname               Patil
marks potion              13
marks def. ATDA           14
house              Ravenclaw
Name: 7, dtype: object

In [10]:
# Filtres
B = pd.Series([True, False, True, True, False, False, True, False])
hpdf[B]

  firstname lastname  marks potion  marks def. ATDA       house
0     Harry   Potter            12               14  Gryffindor
2       Ron  Weasley            11               12  Gryffindor
3     Draco   Malfoy            11               12   Slytherin
6   Gregory    Goyle             7                7   Slytherin

In [11]:
hpdf[hpdf["marks potion"] < 12]

  firstname lastname  marks potion  marks def. ATDA       house
2       Ron  Weasley            11               12  Gryffindor
3     Draco   Malfoy            11               12   Slytherin
5   Vincent   Crabbe             8                6   Slytherin
6   Gregory    Goyle             7                7   Slytherin

In [12]:
hpdf[(hpdf["marks potion"] < 12) & ~((hpdf["marks def. ATDA"] >= 12))]

  firstname lastname  marks potion  marks def. ATDA      house
5   Vincent   Crabbe             8                6  Slytherin
6   Gregory    Goyle             7                7  Slytherin

In [13]:
hpdf.loc[(hpdf["marks potion"] < 12) & ~((hpdf["marks def. ATDA"] >= 12)), ["firstname", "lastname"]]

  firstname lastname
5   Vincent   Crabbe
6   Gregory    Goyle

In [14]:
hpdf

  firstname  lastname  marks potion  marks def. ATDA       house
0     Harry    Potter            12               14  Gryffindor
1  Hermione   Granger            18               18  Gryffindor
2       Ron   Weasley            11               12  Gryffindor
3     Draco    Malfoy            11               12   Slytherin
4      Luna  Lovegood            14               10   Ravenclaw
5   Vincent    Crabbe             8                6   Slytherin
6   Gregory     Goyle             7                7   Slytherin
7   Parvati     Patil            13               14   Ravenclaw

In [15]:
hpdf.loc[3,"firstname"] = "Bob"
hpdf["mark other"] = 10
hpdf["nice"] = pd.Series([True, True, True, True, True, False, False, False])
hpdf.loc[hpdf["nice"], "mark other"] = hpdf.loc[hpdf["nice"], "mark other"]+1
hpdf["final mark"] = (hpdf["marks potion"] + hpdf["marks def. ATDA"] + hpdf["mark other"]) / 3
hpdf

,firstname,lastname,marks potion,marks def. ATDA,house,mark other,nice,final mark
0,Harry,Potter,12,14,Gryffindor,11,True,12.333333
1,Hermione,Granger,18,18,Gryffindor,11,True,15.666667
2,Ron,Weasley,11,12,Gryffindor,11,True,11.333333
3,Bob,Malfoy,11,12,Slytherin,11,True,11.333333
4,Luna,Lovegood,14,10,Ravenclaw,11,True,11.666667
5,Vincent,Crabbe,8,6,Slytherin,10,False,8.000000
6,Gregory,Goyle,7,7,Slytherin,10,False,8.000000
7,Parvati,Patil,13,14,Ravenclaw,10,False,12.333333

In [16]:
hpdf2 = hpdf.set_index(["firstname"])
hpdf2 = hpdf2.rename(columns={"nice": "good guys"}, index={"Bob": "Draco"})
hpdf2 = hpdf2.replace("Slytherin", "Bad House")
hpdf2 = hpdf2.drop("Parvati")
hpdf2 = hpdf2.reset_index().set_index(["firstname","lastname"])
hpdf2

,,marks potion,marks def. ATDA,house,mark other,good guys,final mark
firstname,lastname,,,,,,
Harry,Potter,12,14,Gryffindor,11,True,12.333333
Hermione,Granger,18,18,Gryffindor,11,True,15.666667
Ron,Weasley,11,12,Gryffindor,11,True,11.333333
Draco,Malfoy,11,12,Bad House,11,True,11.333333
Luna,Lovegood,14,10,Ravenclaw,11,True,11.666667
Vincent,Crabbe,8,6,Bad House,10,False,8.000000
Gregory,Goyle,7,7,Bad House,10,False,8.000000

In [17]:
hpdf2.drop("good guys", axis=1, inplace=True)
hpdf2

,,marks potion,marks def. ATDA,house,mark other,final mark
firstname,lastname,,,,,
Harry,Potter,12,14,Gryffindor,11,12.333333
Hermione,Granger,18,18,Gryffindor,11,15.666667
Ron,Weasley,11,12,Gryffindor,11,11.333333
Draco,Malfoy,11,12,Bad House,11,11.333333
Luna,Lovegood,14,10,Ravenclaw,11,11.666667
Vincent,Crabbe,8,6,Bad House,10,8.000000
Gregory,Goyle,7,7,Bad House,10,8.000000

In [18]:
def passOrFail(x): return "pass" if x>10 else "fail"
hpdf3 = hpdf2.copy()
hpdf3["p/f"] = hpdf3["final mark"].apply(passOrFail)
hpdf3 = hpdf3.T
hpdf3

firstname,Harry,Hermione,Ron,Draco,Luna,Vincent,Gregory
lastname,Potter,Granger,Weasley,Malfoy,Lovegood,Crabbe,Goyle
marks potion,12,18,11,11,14,8,7
marks def. ATDA,14,18,12,12,10,6,7
house,Gryffindor,Gryffindor,Gryffindor,Bad House,Ravenclaw,Bad House,Bad House
mark other,11,11,11,11,11,10,10
final mark,12.333333,15.666667,11.333333,11.333333,11.666667,8.0,8.0
p/f,pass,pass,pass,pass,pass,fail,fail

In [19]:
hpdf3 = hpdf2.copy()
hpdf3["p/f"] = hpdf3["final mark"].apply(lambda x: "pass" if x>10 else "fail")
hpdf3 = hpdf3.T
hpdf3

firstname,Harry,Hermione,Ron,Draco,Luna,Vincent,Gregory
lastname,Potter,Granger,Weasley,Malfoy,Lovegood,Crabbe,Goyle
marks potion,12,18,11,11,14,8,7
marks def. ATDA,14,18,12,12,10,6,7
house,Gryffindor,Gryffindor,Gryffindor,Bad House,Ravenclaw,Bad House,Bad House
mark other,11,11,11,11,11,10,10
final mark,12.333333,15.666667,11.333333,11.333333,11.666667,8.0,8.0
p/f,pass,pass,pass,pass,pass,fail,fail

# Chargement

## fichier CSV

In [20]:
df = pd.read_csv("food.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'food.csv'

In [ ]:
df = pd.read_csv("https://mdaquin.github.io/d/tdd/food.csv")
df

In [ ]:
df = pd.read_csv("https://mdaquin.github.io/d/tdd/food.csv", index_col=0)
df

In [ ]:
df = pd.read_csv("https://mdaquin.github.io/d/tdd/movies_500.csv", sep="\t", index_col=0)
df.head()

## ficher excel

In [ ]:
df = pd.read_excel("https://mdaquin.github.io/d/tdd/dep54.xlsx")
df

In [ ]:
df = pd.read_excel("https://mdaquin.github.io/d/tdd/dep54.xlsx", skiprows=7)
df

In [ ]:
df = pd.read_excel("https://mdaquin.github.io/d/tdd/dep54.xlsx", skiprows=7, usecols=range(9))
df

In [ ]:
df = pd.read_excel("https://mdaquin.github.io/d/tdd/dep54.xlsx", skiprows=7, usecols=range(8), sheet_name=1)
df

## json and APIs

In [ ]:
df = pd.read_json("https://mdaquin.github.io/d/tdd/hp.json")
df

In [ ]:
import requests
r = requests.get("https://opensky-network.org/api/flights/all?begin=1632500000&end=1632501000")
df = pd.read_json(r.text)
df.head(10)

## base de donnÃ©es

In [21]:
import sqlite3

con = sqlite3.connect("hp.db")
# df = pd.read_sql_query("""
# select firstname, lastname, house.name as house
# from student, house
# where student.house = house.ID
# """, con)
# df

In [ ]:
df = pd.read_sql_query("""
select house.name, count(student.lastname) nb
from student, house
where student.house = house.ID
group by house.name
""", con)
df

## Savegarde

In [ ]:
hpdata = {
   "firstnames": ["Harry", "Hermione", "Ron", "Draco", "Luna", "Vincent", "Gregory", "Parvati"],
   "lastname":  ["Potter", "Granger", "Weasley", "Malfoy", "Lovegood", "Crabbe", "Goyle", "Patil"],
   "marks potion": [12, 18, 11, 11, 14, 8, 7, 13],
   "marks def. ATDA": [14, 18, 12, 12, 10, 6, 7, 14],
   "house": ["Gryffindor", "Gryffindor", "Gryffindor", "Slytherin", "Ravenclaw", "Slytherin", "Slytherin", "Ravenclaw"]
}
hpdf = pd.DataFrame(hpdata)
hpdf.to_csv("test_save.csv")

# Exploration

In [ ]:
import pandas as pd
df = pd.read_csv("https://mdaquin.github.io/d/tdd/food.csv", index_col=1)
df

In [ ]:
c = "Data.Sugar Total"
print(f"[{df[c].min()},{df[c].max()}]")
print("Min:", df[c].idxmin())
print("Max:", df[c].idxmax())
print("Mean:", df[c].mean())
print("Mean:", df[c].sum()/df[c].count())
print("Median:", df[c].median())
print("*"*30)
print(df[c].quantile([0.45,0.60,0.75,0.90]))

In [ ]:
df.iloc[::,4:11].describe()

In [ ]:
df.Category.value_counts().head(15)

In [ ]:
c = "Data.Sugar Total"
for cat in df.sort_values(c, ascending=False)["Category"].unique():
  print(cat,df.loc[df.Category == cat, c].mean())